$orange: #FF6100;
$orange-light: #FF9250;
$dark-red: #D30000;;
$white: #ffffff;
$gray: #4F4F4F;


@include font-face(Montserrat-Black, Montserrat-Black, 900);

@include font-face(Montserrat-ExtraBold, Montserrat-ExtraBold, 800);

@include font-face(Montserrat-Bold, Montserrat-Bold, 700);

@include font-face(Montserrat-SemiBold, Montserrat-SemiBold, 600);

@include font-face(Montserrat-Medium, Montserrat-Medium, 500);

@include font-face(Montserrat-Regular, Montserrat-Regular, 400);

@include font-face(Montserrat-Light, Montserrat-Light, 300);



@include font-face(Roboto-Black, Roboto-Black, 900);

@include font-face(Roboto-Bold, Roboto-Bold, 700);


@include font-face(CaviarDreams-Bold, CaviarDreams-Bold, 700);
