.header {
    padding-top: 26px;
    padding-bottom: 22px;
    background-color: $orange;
    color: $white;
		&__wrap {
      display: flex;
      align-items: center;
      gap: 18px;
		}

		&__logo {
		}

		&__logo-img {
		}

		&__buttons {
      display: flex;
      gap: 9px;
		}

		&__automatic-btn {
      padding: 7px 12px;
      font-family: 'Montserrat-ExtraBold', sans-serif;
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
      background-color: $white;
      color: $orange;
      border-radius: 30px;
      &:focus{
        font-family: 'Montserrat-Regular', sans-serif;
        background-color: $orange-light;
        color: $orange;
      }
		}

		&__mechanical-btn {
      padding: 7px 12px;
      font-family: 'Montserrat-ExtraBold', sans-serif;
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
      background-color: $white;
      color: $orange;
      border-radius: 30px;
      &:focus{
        font-family: 'Montserrat-Regular', sans-serif;
        background-color: $orange-light;
        color: $orange;
      }
		}

		&__menu {
		}

		&__social {
		}

		&__btn {
      font-family: 'Montserrat-Black', sans-serif;
      padding: 7px 25px;
      background-color: $dark-red;
      border-radius: 20px;
      font-size: 20px;
      line-height: 23px;
		}
}

.menu {

		&__list {
      display: flex;
      gap: 18px;
      font-size: 16px;
      line-height: 20px;
		}

		&__item {
		}

		&__link {
		}
}
.social {
    display: flex;
		&__phone {
      display: flex;
      font-family: 'Montserrat-ExtraBold', sans-serif;
      font-size: 16px;
      line-height: 20px;
		}

		&__phone-img {
      display: none;
		}

		&__telegram {
		}

		&__telegram-img {
      display: none;
		}

		&__whatsApp {
		}

		&__whatsApp-img {
      display: none;
		}
}
