//====================================================================================================

//====================================================================================================
.main {

  /* .main__container */

  &__container {}
}

.main-tab {

  /* .main-tab__wraper */

  &__wraper {}

  /* .main-tab__content */

  &__content {}

  /* .main-tab__item */

  &__item {}
}

.main-content {
  display: flex;
  padding-top: 27px;
  @include adaptiveValue("padding-top", 27, 13);
  padding-bottom: 68px;
  @include adaptiveValue("padding-bottom", 68, 34);
  gap: 16px;
  justify-content: space-between;

  @media (max-width: em(642)) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .main-content__column */

  &__column {}

  /* .main-content__subtitle */

  &__column_left {
    margin-left: -165px;
    align-self: flex-start;

    @media (max-width: em(1312)) {
      margin-left: 0;
    }
  }

  &__subtitle {
    @include adaptiveValue("padding-top", 40, 1);
    color: $acentColor;
    @include adaptiveValue("font-size", 22, 11);
    font-weight: 500;
    line-height: normal;
  }

  /* .main-content__title */

  &__title {
    color: $acentColor;
    @include adaptiveValue("font-size", 92, 46);
    font-weight: 500;
    font-weight: 900;
    line-height: normal;
  }

  /* .main-content__description */

  &__description {
    color: $acentColor;
    @include adaptiveValue("font-size", 22, 11);
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
  }

  /* .main-content__list */

  &__list {
    padding-left: 155px;

    @media (max-width: em(642)) {
      padding-left: 28px;
    }
  }

  /* .main-content__item */

  &__item {
    margin-bottom: 10px;
    position: relative;
    color: $mainColor;
    font-size: 22px;
    @include adaptiveValue("font-size", 22, 11);
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      top: 3px;
      left: -28px;
      background: url('@img/main-block/hit-icon.svg') 0 0 no-repeat;

      @media (max-width: em(642)) {
        top: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  /* .main-content__canned-img */

  &__canned-img {
    @include adaptiveValue("margin-left", -200, 0);

    @media (max-width: em(1312)) {
      display: none;
    }
  }

  /* .main-content__column-img */

  &__column-img {
    @include adaptiveValue("padding-top", 19, 1);
    @include adaptiveValue("width", 493, 246);
    @include adaptiveValue("height", 552, 276);
  }

  /* .main-content__block-link */

  &__block-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    margin-bottom: 34px;

    @media (max-width: em(1312)) {
      flex-direction: row-reverse;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }

  /* .main-content__block-link-video */

  &__block-link-video {}

  /* .main-content__block-link-video-icon */

  &__block-link-video-icon {
    @include adaptiveValue("height", 62, 31);
    @include adaptiveValue("width", 62, 31);
  }

  /* .main-content__block-link-pdf */

  &__block-link-pdf {}

  /* .main-content__block-link-pdf-icon */

  &__block-link-pdf-icon {
    @include adaptiveValue("height", 62, 31);
    @include adaptiveValue("width", 62, 31);
  }

  &__block-wrap {
    @media (max-width: em(1312)) {
      display: flex;
    }
  }

  /* .main-content__prices */

  &__prices {
    margin-bottom: 12px;
    text-align: center;
  }

  /* .main-content__old-price */

  &__old-price {
    color: #BDBDBD;
    @include adaptiveValue("font-size", 25, 18);
    font-weight: 500;
    line-height: normal;
    text-decoration: line-through;
  }

  /* .main-content__new-price */

  &__new-price {
    color: #00A542;
    @include adaptiveValue("font-size", 66, 23);
    font-weight: 900;
    line-height: normal;

    span {
      @include adaptiveValue("font-size", 33, 16);
      font-weight: 300;
      @include adaptiveValue("margin-left", -20, 5);
      display: inline-block;

    }
  }

  /* .main-content__share-text */

  &__share-text {
    color: #BDBDBD;
    @include adaptiveValue("font-size", 42, 21);
    font-weight: 500;
    line-height: normal;
  }

  /* .main-content__gift */

  &__gift {
    text-align: center;
  }

  /* .main-content__gift-text */

  &__gift-text {
    color: $acentColor;
    font-size: 36.49px;
    @include adaptiveValue("font-size", 36, 18);
    font-weight: 800;
    line-height: normal;
  }

  /* .main-content__gift-img */

  &__gift-img {
    @include adaptiveValue("height", 141, 70);
    @include adaptiveValue("width", 335, 167);
  }
}

// =====================================================================================
.present {
  background-color: $acentColor;
  @include adaptiveValue("padding-top", 97, 48);
  @include adaptiveValue("padding-bottom", 85, 42);
  background-image: url('@img/present-block/fon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;

  @media (max-width: em(1080)) {
    @include adaptiveValue("padding-top", 182, 90);
    @include adaptiveValue("padding-bottom", 320, 160);
  }

  &::after {
    content: '';
    position: absolute;
    @include adaptiveValue("width", 210, 105);
    @include adaptiveValue("height", 200, 100);
    top: 5%;
    right: 20%;
    background-image: url('@img/present-block/decor-top.png');
    background-size: cover;

    @media (max-width: em(1921)) {
      right: 0;
    }

    @media (max-width: em(1080)) {
      top: 5%;
      right: 0;
      z-index: 1000;
    }
  }

  &::before {
    content: '';
    position: absolute;
    @include adaptiveValue("width", 210, 105);
    @include adaptiveValue("height", 200, 100);
    top: 35%;
    right: 17%;
    background-image: url('@img/present-block/decor-buttom.png');
    background-size: cover;

    @media (max-width: em(1921)) {
      right: 2%;
    }

    @media (max-width: em(1080)) {
      top: 85%;
      right: 80%;
    }
  }

  /* .present__container */

  &__container {}

  /* .present__box */

  &__box {
    display: flex;
    justify-content: center;
    gap: 100px;
    @include adaptiveValue("gap", 100, 0);
    padding-left: 111px;
    padding-right: 176px;

    @media (max-width: em(1080)) {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
      gap: 50px;
      @include adaptiveValue("gap", 50, 25);

    }
  }

  /* .present__slider */

  &__slider {
    flex-basis: 50%;
    min-width: 0;

    @media (max-width: em(1080)) {
      flex-basis: 100%;
    }
  }

  /* .present__wrapper */

  &__wrapper {}

  /* .present__slide */

  &__slide {
    width: auto;

  }

  /* .present__img */

  &__img {
    width: 382px;
    height: 382px;

    @media (max-width: em(1080)) {
      @include adaptiveValue("height", 400, 266);
      @include adaptiveValue("width", 400, 266);
    }

    @media (max-width: em(425)) {
      width: 100%;
    }
  }

  /* .present__content */

  &__content {
    min-width: 0;
    // flex-basis: 50%;
  }

  /* .present__title */

  &__title {
    font-family: Montserrat;
    @include adaptiveValue("font-size", 60, 30);
    font-weight: 800;
    line-height: normal;
    margin-bottom: 40px;
    @include adaptiveValue("margin-bottom", 40, 0);
  }

  /* .present__text */

  &__text {
    max-width: 585px;
    @include adaptiveValue("margin-bottom", 40, 20);
    @include adaptiveValue("font-size", 18, 14);

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: em(1080)) {
      max-width: 100%;
    }
  }
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {}

// пагинация
.present__slider .swiper-pagination {
  margin-top: 5px;
  position: static;

  @media (max-width: em(1797)) {
    text-align: left !important;
  }
}

// булеты
.present__slider .swiper-pagination-bullet {
  width: 51px;
  height: 3px;
  border-radius: 0;
  line-height: 20px;
  font-size: 14px;
  background-color: #fff;
  color: #000;
}

.present-title-mobile {}

// ===============================================================================
.products {

  @include adaptiveValue("padding-top", 50, 25);
  @include adaptiveValue("padding-bottom", 50, 25);

  /* .products__container */

  &__container {}

  /* .products__wrapp */

  &__wrapp {}

  /* .products__one */

  &__one {
    @include adaptiveValue("margin-bottom", 100, 50);
  }

  /* .products__two */

  &__two {
    @include adaptiveValue("margin-bottom", 100, 50);
  }

  /* .products__three */

  &__three {
    @include adaptiveValue("margin-bottom", 100, 50);
  }


  /* .products__four */

  &__four {}
}

.products-one-tabs {

  /* .products-one-tabs__content */

  &__content {}

  &__content_order {
    order: 1;
  }

  /* .products-one-tabs__body */

  &__body {}

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 50, 25);

    @media (max-width: em(1020)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  /* .products-one-tabs__subtitle */

  &__subtitle {
    color: #FF6100;
    @include adaptiveValue("font-size", 60, 30);
    font-weight: 800;
    line-height: normal;
    @include adaptiveValue(" margin-bottom", 40, 20);
  }

  /* .products-one-tabs__text */

  &__text {
    @include adaptiveValue("font-size", 18, 14);
    @include adaptiveValue("margin-bottom", 40, 20);
    @include adaptiveValue("line-height", 26, 26);

    span {
      color: #FF6100;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  /* .products-one-tabs__images */

  &__images {}

  /* .products-one-tabs__img */

  &__img {
    @include adaptiveValue("width", 730, 365);
    @include adaptiveValue("height", 730, 365);
  }

  /* .products-one-tabs__navigation */

  &__navigation {
    text-align: left;
    @include adaptiveValue("margin-top", 15, 10);

    @media (max-width: em(1020)) {
      text-align: center;
    }
  }

  &__navigation_right {
    text-align: right;

    @media (max-width: em(1020)) {
      text-align: center;
    }
  }

  /* .products-one-tabs__title */

  &__title {
    padding: 5px 35px;
    @include adaptiveValue("padding-top", 5, 5);
    @include adaptiveValue("padding-bottom", 5, 5);
    @include adaptiveValue("padding-left", 35, 17);
    @include adaptiveValue("padding-right", 35, 17);
    @include adaptiveValue("margin-right", 19, 9);
    color: #FFF;
    @include adaptiveValue("border-radius", 50, 25);
    background-color: #BDBDBD;
    text-align: center;
    font-family: Montserrat;
    @include adaptiveValue("font-size", 16, 14);
    font-style: normal;
    font-weight: 700;
    @include adaptiveValue("line-height", 26, 13);

    &:last-child {
      margin-right: 0;
    }

    &._tab-active {
      background-color: #FF6100;
    }

    @media (max-width: em(342)) {
      margin-top: 10px;
      margin-right: 0;
    }
  }
}

// ========================================================================================
.order {

  background-color: #F2F2F2;
  padding-top: 91px;
  padding-bottom: 32px;

  /* .order__container */

  &__container {}

  /* .order__title */

  &__title {
    color: #FF6100;
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
  }

  /* .order__box */

  &__box {
    display: flex;
    align-items: center;
  }

  /* .order__form */

  &__form {
    flex-basis: 60%;
  }

  /* .order__images */

  &__images {
    flex-basis: 20%;
  }

  /* .order__img */

  &__img {
    width: 500px;
    height: 500px;
  }

  /* .order__content */

  &__content {
    flex-basis: 30%;
    margin-left: -10%;
  }

  /* .order__text */

  &__text {}
}

.form {
  /* .form__input */

  &__input {
    display: block;
    width: 405px;
    margin-bottom: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 50px;
    background-color: #fff;
    color: #828282;
    font-size: 25px;
    font-weight: 300;
    line-height: 26px;
  }

  /* .form__btn */

  &__btn {
    text-align: center;
    width: 405px;
    padding-top: 11px;
    padding-bottom: 11px;
    color: #FFF;
    font-size: 25px;
    font-weight: 900;
    line-height: 26px;
    border-radius: 50px;
    background-color: #FF6100;
  }
}